.navbar {
  background-color: rgba(63, 34, 120, 1);
  position: sticky;
  padding: 12px;
  max-width: 1310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  z-index: 99;
}
.navbar:hover{
  background: transparent;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}
.logo{
    width: 70px;
    height: 70px;    
    filter: brightness(1.8);    
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  font-size: 16px;
  font-weight: bold;
}
ul{
  margin-bottom: 0;
}
.nav-menu li{
  color: aliceblue;
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease;
}


.nav-menu li:hover,
.nav-menu li:focus{
  cursor: pointer;
  color: #3f2278;
  filter: brightness(2);
  transform: translateY(-2px);
  font-size: 18px;
}

#mode {
  padding: 18px 38px;
  border-radius: 50px;
  background: linear-gradient(267deg, #3f2278, #824dee);
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}
#mode:hover {
  transform: scale(1.03);
  cursor: pointer;
  background: transparent;
  border: 2px solid #0F0715;
}
.nav-mob-close {
  display: none;
}
.nav-mob-open {
  display: none;
  width: 60px;
  height: 60px;
}


#progress{
  position: fixed;
  bottom: 16px;
  right: 18px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}
#progress-value{
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background: #0F0715;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 100;
}
#progress-value i{
  font-size: 32px;
  color: #824dee;
}

/* Media Query for responsiveness */
@media (max-width: 630px) {
  .navbar {
    background-color: rgba(63, 34, 120, 0.5);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px; 
    z-index: 1000;
  }
  #mode {
    display: none;
  }
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 22rem;
    width: 30px;
  }
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #3f2278;
    width: 452px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -452px;
  }
  .nav-menu li{
    font-size: 20px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
  }

}

@media (min-width: 630px) and (max-width: 1080px) {
  .navbar {
    background-color: rgba(63, 34, 120, 0.5);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px; 
    z-index: 1000;
  }
#mode {
    display: none;
  }
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 22rem;
    width: 30px;
  }
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #3f2278;
    width: 452px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -452px;
  }
  .nav-menu li {
    font-size: 20px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }

}
