@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  scrollbar-color: #3f2278 #824dee;
  scroll-behavior: smooth;
}
body {
  background-color: #0f0715;
  color: aliceblue;
  overflow-y: scroll;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
#particles {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it's behind other content */
}
